{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google Tag Manager -->
	<script>
		(function(w,d,s,l,i){
			w[l]=w[l]||[];
			w[l].push(
				{
					'gtm.start': new Date().getTime(),
					event:'gtm.js'
				}
			);
			var f=d.getElementsByTagName(s)[0], 
			j=d.createElement(s),
			dl=l!='dataLayer'?'&l='+l:'';
			j.async=true;
			j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
			f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5DPB6VZ');
	</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dawipo - Data With Power</title>
<link rel="stylesheet" href="{% static 'css/dawipo-index.css' %}">
<link rel="shortcut icon" href="{%static 'images/favicon.png' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<!-- Google Tag Manager -->
	<script>
		(function(w,d,s,l,i){
			w[l]=w[l]||[];
			w[l].push(
				{
					'gtm.start': new Date().getTime(),
					event:'gtm.js'
				}
			);
			var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),
			dl=l!='dataLayer'?'&l='+l:'';
			j.async=true;
			j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
			f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5DPB6VZ');
	</script>
	<!-- End Google Tag Manager -->
	<div class="navbar-fixed">
		<nav class="navbar">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">
					<img src="{% static 'images/logo-tagline.png' %}" alt="logo-dawipo" class="img-logo">
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href="#" id="botonInicio" style="font-weight: 400;">Inicio</a>
					</li>
					<li>
						<a href="#about" style="font-weight: 400;">¿Qué es Dawipo?</a>
					</li>
					<li>
						<a href="#beneficios" style="font-weight: 400;">Beneficios</a>
					</li>
					<li>
						<a href="#contactanos" style="font-weight: 400;">Contáctanos</a>
					</li>
					<li>
						<a href="{% url 'login' %}">
							<button class="btn-small bg-bright-blue">Login</button>
						</a>
					</li>
				</ul>
				<a href="#" data-target="slide-out" class="sidenav-trigger button-collapse right"><i class="material-icons white-text">menu</i></a>
			</div>
		</nav>
	</div>
	<ul class="sidenav" id="slide-out">
		<li>
			<a href="#inicio" class="waves-effect waves-teal">Inicio</a>
		</li>
		<li>
			<a href="#about" class="waves-effect waves-teal">¿Qué es Dawipo?</a>
		</li>
		<li>
			<a href="#contactanos" class="waves-effect waves-teal">Contáctanos</a>
		</li>
		<li>
			<a href="{% url 'login' %}" style="font-weight: 400;">Iniciar sesión</a>
		</li>
	</ul>
	<div class="header shuffle-over-transition scrollspy" id="inicio">
		<div class="background">
			<img src="{% static 'images/background-top-alt.jpg' %}" alt="fondo">
		</div>
		<div class="header-wrapper row valign-wrapper">
			<div class="col s12">
				<h4 class="text-comfortaa">
					<span class="text-bright-blue">Software para la </span><span class="text-orange">Gestión <br> de Pedidos </span><span class="text-bright-blue">entre empresas</span>
				</h4>
				<span class="tagline text-lato-cursiva text-dark-blue" style="font-weight: 400;">Optimiza la administración de los pedidos de tus clientes</span>
				<br>
				<a href="#contactanos"><button class="btn bg-dark-blue" style="font-family: 'Lato', sans-serif; font-weight: 400;">Solicita un demo</button></a>
			</div>
		</div>
	</div>
	<div class="section white valign-wrapper scrollspy" id="about">
		<div class="container">
			<div class="row">
				<div class="col s12 m4 valign-wrapper">
					<div class="staggered-transition-wrapper">
						<div class="feature fade-right-in-out">
							<h4 class="text-comfortaa text-bright-blue">¿Qué es Dawipo?</h4>
							<p class="text-dark-blue">Facilitamos la administración de pedidos a las pequeñas y medianas empresas a través de tableros de Control interactivos.</p>
							<p class="text-dark-blue">Nuestro software permite a los gerentes hacer seguimientos a cada fase con sus equipos e incluso, interactuar directamente con sus clientes al generar y editar cotizaciones sobre la plataforma.</p>
							<p class="text-dark-blue">Así, apoyamos a las pymes para ser más productivas e incrementar sus ventas.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m8 valign-wrapper">
					<div class="laptop-preview-sizer">
						<div class="laptop-preview"></div>
						<div class="image-container default" style="background-image:url({% static 'images/mockup-mac.png' %});"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section bg-bright-blue valign-wrapper scrollspy full-height" id="beneficios">
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l3 offset-l1">
					<h4 class="center-align">
						<img src="{% static 'images/entrevista-de-trabajo.svg' %}" alt="" width="63">
					</h4>
					<h5 class="center-align" style="font-size: 1.3em;">Asesoría Personalizada</h5>
					<p class="center-align caption" style="font-size: 1.3em;">Programa consultorías sobre el uso de la herramienta y análisis de la información.</p>
				</div>
				<div class="col s12 m6 l4">
					<h4 class="center-align">
						<img src="{% static 'images/campana.svg' %}" width="63" alt="">
					</h4>
					<h5 class="center-align" style="font-size: 1.3em;">Alertas Permanentes</h5>
					<p class="center-align caption" style="font-size: 1.3em;">Recibe notificaciones y alertas cuando se acercan fechas específicas.</p>
				</div>
				<div class="col s12 m6 l3">
					<h4 class="center-align">
						<img src="{% static 'images/tablero.svg' %}" width="63"  alt="">
					</h4>
					<h5 class="center-align" style="font-size: 1.3em;">Dashboards Intuitivos</h5>
					<p class="center-align caption" style="font-size: 1.3em;">Obtén información de tus órdenes y entregas organizada en un vistazo.</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m6 l4 offset-l2">
					<h4 class="center-align">
						<img src="{% static 'images/filtrar.svg' %}" width="63"  alt="">
					</h4>
					<h5 class="center-align" style="font-size: 1.3em;">Múltiples Filtros</h5>
					<p class="center-align caption" style="font-size: 1.3em;">Aplica filtros de fechas, clientes o ítems y realiza análisis detallados.</p>
				</div>
				<div class="col s12 m6 l4">
					<h4 class="center-align">
						<img src="{% static 'images/catalogar.svg' %}" width="63"  alt="">
					</h4>
					<h5 class="center-align" style="font-size: 1.3em;">Catálogo digital</h5>
					<p class="center-align caption" style="font-size: 1.3em;">Carga tus productos en el sistema con fotografías y atributos personalizables.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="header horizontal-half-transition scrollspy" id="contactanos">
		<div class="background">
			<img src="{% static 'images/background-top-alt.jpg' %}" alt="">
		</div>
		<div class="phone-preview-sizer">
			<div class="phone-preview"></div>
			<div class="image-container default" style="background-image:url({% static 'images/iphone12.png' %})"></div>
		</div>
		<div class="horizontal-half-wrapper right-side active">
			<div class="header-background bg-gray"></div>
			<div class="header-wrapper row valign-wrapper" style="padding-top: 5em">
				<div class="col s12 m10 offset-m1 valign">
					<h4 class="text-comfortaa text-orange">¡Llena el formulario y te contactaremos!</h4>
					<form class="col s12" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="input-field col s12">
								<input type="text" name="first_name" id="id_first_name" class="validate">
								<label for="first_name">Nombres</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" name="last_name" id="id_last_name" class="validate">
								<label for="last_name">Apellidos</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s7">
								<input type="email" name="email" id="id_email" class="validate">
								<label for="email">Correo electrónico</label>
								<span class="helper-text" data-error="Ingresa un correo electrónico válido.">No compartiremos tus datos con nadie.</span>
							</div>
							<div class="input-field col s5">
								<input type="tel" name="phone_number" id="id_phone_number" class="validate">
								<label for="phone_number">Teléfono</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s7">
								<input type="text" name="organization" id="id_organization" class="validate">
								<label for="organization">Organización</label>
							</div>
							<div class="input-field col s5">
								<input type="text" name="position" id="id_position" class="validate">
								<label for="position">Posición</label>
							</div>
						</div>
						<div class="row">
							<label>
								<input type="checkbox" class="filled-in validate" name="acceptance" id="id_acceptance" required="true" />
								<span>Acepto la <a class="modal-trigger" href="#modalDatos">política de tratamiento de datos personales</a></span>
							</label>
						</div>
						<div class="modal" id="modalDatos">
							<div class="modal-content">
								<h4>Política de tratamiento de datos personales</h4>
								<p>Al diligenciar este formulario usted nos permite el uso de su información según el marco establecido por la <a href="https://www.defensoria.gov.co/public/Normograma%202013_html/Normas/Ley_1581_2012.pdf" target="_blank">ley 1581 de 2012</a> y nos autoriza a utilizar su información para contactarlo con el propósito de establecer un primer acercamiento comercial</p>
							</div>
							<div class="modal-footer">
								<a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
							</div>
						</div>
						<button class="btn bg-bright-blue" type="submit" name="action">¡Quiero saber más!
							<i class="material-icons right">send</i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="section bg-gray full-height">
		<div class="container">
			<div class="row">
				<div class="col s12 l8">
					<h4 class="text-comfortaa text-orange">PLAN PIONEROS</h4>
					<p class="text-dark-blue">¡Únete a Dawipo antes del <span style="font-weight: 600">30 de Noviembre</span><br>y recibe <span style="font-weight: 600">increíbles beneficios!</span></p>
				</div>
				<div class="col s12 l4">
					<h3 id="countdown" class="text-comfortaa text-dark-blue"></h3>
					<script>
						var countDownDate = new Date("Nov 29, 2020 23:59:59").getTime();
						var x = setInterval(function() {
							var now = new Date().getTime();
							var distance = countDownDate - now;

							var days = Math.floor(distance / (1000 * 60 * 60 * 24))
							var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
							var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
							var seconds = Math.floor((distance % (1000 * 60)) / 1000);

							document.getElementById("countdown").innerHTML = days + "d" + hours + "h" + minutes + "m" + seconds + "s";

							if (distance < 0) {
								clearInterval(x);
								document.getElementById("countdown").innerHTML = "EXPIRADO";
							}
						}, 1000);
					</script>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col s12 l4" style="border-right: 1px solid gray;">
					<div class="col s3" style="text-align:right;">
						<h1 class="text-dark-blue text-comfortaa" style="margin: 0.3em 0 0 0">3</h1>
					</div>
					<div class="col s9">
						<p class="text-dark-blue">meses <span class="text-comfortaa text-orange" style="font-weight: 600">gratis</span> de uso de la plataforma</p>
					</div>
				</div>
				<div class="col s12 l4" style="border-right: 1px solid gray;">
					<div class="col s3">
						<img src="{% static 'images/icono-i.svg' %}" width="80" style="margin-top: 10px">
					</div>
					<div class="col s9">
						<p class="text-dark-blue">Asesoría ilimitada en fase de implementación</p>
					</div>
				</div>
				<div class="col s12 l4">
					<div class="col s3" style="text-align:right;">
						<h1 class="text-dark-blue text-comfortaa" style="margin: 0.3em 0 0 0">5</h1>
					</div>
					<div class="col s9">
						<p class="text-dark-blue">horas de asesoría adicional con el OKAM de la cuenta</p>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col s12 l9" style="text-align: center;">
					<p class="text-lato-cursiva text-dark-blue">
						Somos un startup parte del programa Apps.co que también ha impulsado emprendimientos como Platzi, Rappi y Fluvip. Igual que ellos, estamos apoyando la transformación digital del país. ¡Únete y haz parte también, impulsando tu productividad con nosotros!
					</p>
				</div>
			</div>
		</div>
	</div>
	<footer class="page-footer shuffle-under-transition">
		<div class="container">
			<div class="row">
				<div class="col s6 m4">
					<img class="materialize-logo" src="{% static 'images/logo-tagline.png' %}" alt="" height="80">
					<p>Made with love by Dawipo. Code by <a href="http://fehernandez.com" target="_blank">FH</a>.</p>
				</div>
				<div class="col s6 m4">
					<h5>About</h5>
					<ul>
						<li><a href="#!">Blog</a></li>
						<li><a href="#!">Pricing</a></li>
					</ul>
				</div>
				<div class="col s12 m4">
					<h5>Contact</h5>
					<ul>
						<li><a href="#!">Twitter</a></li>
						<li><a href="#!">Facebook</a></li>
						<li><a href="#!">Github</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Scripts --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static 'js/materialize.min.js' %}"></script>

	<!-- Librerías externas -->
	<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'js/TweenMax.min.js' %}"></script>
	<script src="{% static 'js/ScrollMagic.min.js' %}"></script>
	<script src="{% static 'js/animation.gsap.min.js' %}"></script>

	<!-- Inicialización -->
	<script src="{% static 'js/startup.js' %}"></script>
	<script src="{% static 'js/init.js' %}"></script>
</body>
</html>