{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}DAWIPO - Generate invoice{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
					<li class="breadcrumb-item">Órdenes</li>
					<li class="breadcrumb-item active">Nueva orden</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Llena los siguientes datos
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-5 offset-lg-1">
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_customer">Cliente</label>
				<select name="customer" id="id_customer" class="form-control select2" data-toggle="select2" required>
					<option>Select</option>
					<optgroup label="Customers">
						{% for customer in customers %}
						<option value="{{ customer.id }}">{{ customer.name }}</option>
						{% endfor %}
					</optgroup>
				</select>
				<small>No está tu cliente aquí? <a href="{% url 'customers:customer_registration' %}">Regístralo.</a></small>
			</div>
			<div class="form-group">
				<label for="id_due_date">Fecha de entrega</label>
				<input type="text" class="form-control date" id="id_due_date" name="due_date" data-toggle="date-picker" data-single-date-picker="true" data-min-date="{{ today|date:'m/d/Y'}}" data-auto-apply="true" data-locale='{"cancelLabel": "Cancelar", "daysOfWeek": ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"]}'>
			</div>
			<div class="form-group">
				<label for="id_incoterm">Incoterm</label>
				<select name="incoterm" data-toggle="select2" id="id_incoterm" class="form-control select2">
					<option value="" selected>No aplica</option>
					<option value="EXW">EXW</option>
					<option value="FCA">FCA</option>
					<option value="CPT">CPT</option>
					<option value="CIP">CIP</option>
					<option value="DAP">DAP</option>
					<option value="DPU">DPU</option>
					<option value="DDP">DDP</option>
					<option value="FAS">FAS</option>
					<option value="FOB">FOB</option>
					<option value="CFR">CFR</option>
					<option value="CIF">CIF</option>
				</select>
			</div>
			<div class="form-group">
				<label for="id_delivery_site">Lugar de entrega</label>
				<input type="text" name="delivery_site" id="id_delivery_site" class="form-control">
			</div>
			<div class="form-group">
				<label for="id_transport">Medio de transporte</label>
				<select name="transport" data-toggle="select2" id="id_transport" class="form-control select2">
					<option value="air">Aire</option>
					<option value="road">Carretera</option>
					<option value="ocean">Mar</option>
				</select>
			</div>
			<div class="form-group">
				<label for="id_country_of_origin">País de origen</label>
				<input type="text" name="country_of_origin" id="id_country_of_origin" class="form-control">
			</div>
			<div class="form-group">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="id_tax" name="tax">
					<label class="custom-control-label" for="id_tax">Aplican impuestos</label>
				</div>
			</div>
			<button type="submit" class="btn btn-secondary">Generar cotización</button>
		</form>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-5">
		<div class="jumbotron">
			<h3>Items de orden:</h3>
			<hr>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>Precio</th>
					</tr>
				</thead>
				<tbody>
				{% for item in cart %}
				<tr>
					<td>{{ item.product.name }}</td>
					<td>{{ item.quantity }}</td>
					<td class="text-secondary align-items-right text-right">{{ request.user.profile.company.currency }}${{ item.total_price|intcomma }}</td>
				</tr>
				{% endfor %}
				<tr>
					<td class="text-success">Total</td>
					<td></td>
					<td class="align-items-right text-right">{{ request.user.profile.company.currency }}${{ cart.get_total_price|intcomma }}</td>
				</tr>
				</tbody>
			</table>
			<a href="{% url 'cart:cart_detail' %}" class="btn btn-block btn-warning">Editar el contenido de la orden</a>
		</div>
	</div>
</div>
{% endblock %}