{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}DAWIPO - Order No. {{ order.id }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
					<li class="breadcrumb-item">Órdenes</li>
					<li class="breadcrumb-item active">Orden No. {{ order.id }}</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Detalle de orden - Orden #{{ order.id }}
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<div class="row">
				<div class="col">
					<h3>Información de orden</h3>
					<hr>
					<div class="table-responsive">
						<table class="table table-hover">
							<tr>
								<th class="text-secondary">Nombre de cliente:</th>
								<td>{{ order.customer.name }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Dirección de cliente:</th>
								<td>{{ order.customer.address }}</td>
							</tr>
							{% if order.customer.zipcode %}
							<tr>
								<th class="text-secondary">Código postal:</th>
								<td>{{ order.customer.zipcode }}</td>
							</tr>
							{% endif %}
							{% if order.customer.first_name %}
							<tr>
								<th class="text-secondary">Nombre de contacto:</th>
								<td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
							</tr>
							{% endif %}
							{% if order.customer.email %}
							<tr>
								<th class="text-secondary">Email:</th>
								<td>{{ order.customer.email }}</td>
							</tr>
							{% endif %}
							<tr>
								<th class="text-secondary">Ciudad:</th>
								<td>{{ order.customer.city }}</td>
							</tr>
							{% if order.incoterm %}
							<tr>
								<th class="text-secondary">Incoterm:</th>
								<td>{{ order.incoterm }} - {{ order.delivery_site }}</td>
							</tr>
							{% endif %}
							<tr>
								<th class="text-secondary">Aplica impuesto:</th>
								<td>{% if order.tax %}Sí{% else %}No{% endif %}</td>
							</tr>
							<tr>
								<th class="text-secondary">Estado de orden:</th>
								<td>
									{% if order.status == 'delivered' %}
									<div class="badge badge-success">{{ order.get_status_display }}</div>
									{% elif order.status == 'canceled' %}
									<div class="badge badge-danger">{{ order.get_status_display }}</div>
									{% elif order.status == 'pre-order' %}
									<div class="badge badge-primary">{{ order.get_status_display }}</div>
									{% elif order.status == 'confirmed' %}
									<div class="badge badge-secondary">{{ order.get_status_display }}</div>
									{% else %}
									<div class="badge badge-info">{{ order.get_status_display }}</div>
									{% endif %}
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col">
					<h3>Items de la orden:</h3>
					<hr>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Producto</th>
								<th>Cantidad</th>
								<th>Precio</th>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
							<tr>
								<td>{{ item.product.name }}</td>
								<td>{{ item.quantity }}</td>
								<td class="text-secondary text-right align-items-right">{{ request.user.profile.company.currency }}${{ item.get_cost|intcomma }}</td>
							</tr>
							{% endfor %}
							<tr>
								<td class="text-success">Total</td>
								<td></td>
								<td class="text-right align-items-right">{{ request.user.profile.company.currency }}${{ order.get_total_cost|intcomma }}</td>
							</tr>
							<tr>
								<td colspan="3">
									<a href="{% url 'orders:order_edit' order.id %}" class="btn btn-block btn-warning">Editar esta orden</a>	
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}