{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}DAWIPO - Order No. {{ order.id }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
					<li class="breadcrumb-item">Órdenes</li>
					<li class="breadcrumb-item">Orden No. {{ order.id }}</li>
					<li class="breadcrumb-item active">Editar</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Editar Orden No. {{ order.id }}
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<div class="row">
				<div class="col">
					<h3>Información de la orden</h3>
					<hr>
					<div class="table-responsive">
						<table class="table table-sm table-hover">
							<tr>
								<th class="text-secondary">Nombre de cliente:</th>
								<td>{{ order.customer.name }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Dirección de cliente:</th>
								<td>{{ order.customer.address }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Código postal:</th>
								<td>{{ order.customer.zipcode }}</td>
							</tr>
							{% if order.customer.first_name %}
							<tr>
								<th class="text-secondary">Nombre de contacto:</th>
								<td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
							</tr>
							{% endif %}
							<tr>
								<th class="text-secondary">Email:</th>
								<td>{{ order.customer.email }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Ciudad:</th>
								<td>{{ order.customer.city }}</td>
							</tr>
							{% if order.incoterm %}
							<tr>
								<th class="text-secondary">Incoterm:</th>
								<td>{{ order.incoterm }} - {{ order.delivery_site }}</td>
							</tr>
							{% endif %}
							<tr>
								<th class="text-secondary">Aplica impuesto:</th>
								<td>{% if order.tax %}Sí{% else %}No{% endif %}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col">
					<h3>Editar orden</h3>
					<hr>
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							{% if form.errors %}
							{% for field in form %}
							{% for error in field.errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
							{% endfor %}
							{% endfor %}
							{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
							{% endfor %}
							{% endif %}
							<label>Fecha de entrega</label>
							<input type="text" class="form-control" id="id_due_date" name="due_date" value='{{ order.due_date | date:"m/d/Y" }}' data-toggle="date-picker" data-single-date-picker="true" data-min-date="{{ today|date:'m/d/Y'}}" data-auto-apply="true" data-locale='{"cancelLabel": "Clear", "daysOfWeek": ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"]}'>
						</div>
						<div class="form-group">
							<label for="id_status">Estado de orden</label>
							<select class="form-control select2" data-toggle="select2" id="id_status" name="status" >
								<option value="pre-order" {% if order.status == "pre-order" %}selected{% endif %}>Pre-order</option>
								<option value="confirmed" {% if order.status == "confirmed" %}selected{% endif %}>Confirmed</option>
								<option value="awaiting-advance-payment" {% if order.status == "awaiting-advance-payment" %}selected{% endif %}>Awaiting advance payment</option>
								<option value="in-production" {% if order.status == "in-production" %}selected{% endif %}>In Production</option>
								<option value="scheduled" {% if order.status == "scheduled" %}selected{% endif %}>Scheduled</option>
								<option value="dispatched" {% if order.status == "dispatched" %}selected{% endif %}>Dispatched</option>
								<option value="delivered" {% if order.status == "Delivered" %}selected{% endif %}>Delivered</option>
								<option value="canceled" {% if order.status == "canceled" %}selected{% endif %}>Canceled</option>
							</select>
						</div>
						<button class="btn btn-block btn-primary" type="submit">
							<i class="uil-save"></i>
							Guardar cambios
						</button>	
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h3>Ítems de la orden</h3>
					<hr>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<th scope="col">Nombre del producto</th>
								<th scope="col">Cantidad</th>
								<th scope="col">Precio unitario</th>
								<th scope="col">Precio total</th>
								<th scope="col"></th>
							</thead>
							<tbody>
								{% for item in order_items %}
								<tr>	
									<td>{{ item.product.name|truncatechars:20 }}</td>
									<td>
										<form method="POST" class="form-inline">
											{% csrf_token %}
											<input type="text" name="quantity" id="id_quantity" class="form-control" value="{{ item.quantity }}">
											<button class="btn btn-primary" type="submit">Actualizar</button>
										</form>
									</td>
									<td>{{ request.user.profile.company.currency }}${{ item.price|intcomma }}</td>
									<td>{{ request.user.profile.company.currency }}${{ item.get_cost|intcomma }}</td>
								</tr>
								{% endfor %}
								<tr>
									<td class="text-secondary">Total</td>
									<td colspan="2"></td>
									<td class="text-secondary">{{ request.user.profile.company.currency }}${{ order.get_total_cost|intcomma }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}