{% extends 'base.html' %}
{% load static %}
{% block title %}DAWIPO - Order No. {{ order.id }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
					<li class="breadcrumb-item">Orders</li>
					<li class="breadcrumb-item">Order No. {{ order.id }}</li>
					<li class="breadcrumb-item active">Edit</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Edit Order #{{ order.id }}
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<div class="row">
				<div class="col">
					<h3>Order information</h3>
					<hr>
					<div class="table-responsive">
						<table class="table table-hover">
							<tr>
								<th class="text-secondary">Business name:</th>
								<td>{{ order.customer.name }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Business address:</th>
								<td>{{ order.customer.address }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Business zipcode:</th>
								<td>{{ order.customer.zipcode }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Contact name:</th>
								<td>{{ order.customer.first_name }} {{ order.customer.last_name }}</td>
							</tr>
							<tr>
								<th class="text-secondary">Email:</th>
								<td>{{ order.customer.email }}</td>
							</tr>
							<tr>
								<th class="text-secondary">City:</th>
								<td>{{ order.customer.city }}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col">
					<h3>Edit order</h3>
					<hr>
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							<label>Due Date</label>
							<input type="text" class="form-control" id="id_due_date" name="due_date" data-provide="datepicker" data-date-autoclose="true" value="{{ order.due_date }}">
						</div>
						<div class="form-group">
							<label for="id_status">Status</label>
							<select class="form-control select2" data-toggle="select2" id="id_status" name="status" >
								<option value="pre-order" {% if order.status == "pre-order" %}selected{% endif %}>Pre-order</option>
								<option value="confirmed" {% if order.status == "confirmed" %}selected{% endif %}>Confirmed</option>
								<option value="awaiting-advance-payment" {% if order.status == "awaiting-advance-payment" %}selected{% endif %}>Awaiting advance payment</option>
								<option value="in-production" {% if order.status == "in-production" %}selected{% endif %}>In Production</option>
								<option value="scheduled" {% if order.status == "scheduled" %}selected{% endif %}>Scheduled</option>
								<option value="dispatched" {% if order.status == "dispatched" %}selected{% endif %}>Dispatched</option>
								<option value="Delivered" {% if order.status == "Delivered" %}selected{% endif %}>Delivered</option>
								<option value="canceled" {% if order.status == "canceled" %}selected{% endif %}>Canceled</option>
							</select>
						</div>
						<button class="btn btn-block btn-primary" type="submit">
							<i class="uil-save"></i>
							Save changes
						</button>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}