{% extends 'base.html' %}
{% load static %}
{% block title %}DAWIPO - Create Customer{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
					<li class="breadcrumb-item">Clientes</li>
					<li class="breadcrumb-item active">Nuevo cliente</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Llena los siguientes datos
			</h4>
		</div>
	</div>
</div>
<form method="post">
	<div class="row">
		<div class="col-sm-12 col-lg-5 offset-lg-1 float-left">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_name">Nombre del cliente</label>
				<input type="text" name="name" id="id_name" class="form-control" required maxlength="70">
			</div>
			<div class="form-group">
				<label for="id_document_type">Tipo de documento</label>
				<select class="select2 form-control" data-toggle="select2" style="width: 14em;" id="id_document_type" name="document_type">
					<option>Selecciona un tipo de documento...</option>
					<optgroup label="Tipos de documento">
						{% for type in document_types %}
						<option value="{{ type.id }}">{{ type.name }}</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>
			<div class="form-group">
				<label for="id_document">Documento</label>
				<input type="text" name="document" id="id_document" class="form-control">
			</div>
			<div class="form-group">
				<label for="id_address">Dirección del cliente</label>
				<input type="text" name="address" id="id_address" class="form-control" maxlength="200">
			</div>
			<div class="form-group">
				<label for="id_city">Ciudad</label>
				<input type="text" name="city" id="id_city" class="form-control" maxlength="100">
			</div>
			<div class="form-group">
				<label for="id_zipcode">Código postal</label>
				<input type="text" name="zipcode" id="id_zipcode" class="form-control" required maxlength="10">
			</div>
			<div class="form-group">
				<label for="id_zone">Zona</label>
				<input type="text" name="zone" id="id_zone" class="form-control">
			</div>
		</div>
		<div class="col-sm-12 col-lg-5 float-left">
			<div class="form-group">
				<label for="id_regime">Régimen</label>
				<select class="select2 form-control" data-toggle="select2" style="width: 14em;" id="id_regime" name="regime">
					<option>Selecciona una opción...</option>
					<optgroup label="Tipos de régimen">
						{% for regime in regimes %}
						<option value="{{ regime.id }}">Régimen {{ regime.name }}</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>
			<div class="form-group">
				<label for="id_person_type">Tipo de Persona</label>
				<select class="select2 form-control" data-toggle="select2" style="width: 14em;" id="id_person_type" name="person_type">
					<option>Selecciona una opción...</option>
					<optgroup label="Tipos de persona">
						{% for person in person_types %}
						<option value="{{ person.id }}">Persona {{ person.name }}</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>
			<div class="form-group">
				<label for="id_cust_contact">Origen del contacto</label>
				<select class="select2 form-control" data-toggle="select2" style="width: 14em;" id="id_cust_contact" name="cust_contact">
					<option>Selecciona una opción...</option>
					<optgroup label="Contacto">
						{% for contact in contacts %}
						<option value="{{ contact.id }}">{{ contact.name }}</option>
						{% endfor %}
					</optgroup>
				</select>
			</div>
			<div class="form-group">
				<label for="id_phone_number">Número de teléfono</label>
				<input type="text" name="phone_number" id="id_phone_number" class="form-control">
			</div>
			<div class="form-group">
				<label for="id_cellphone">Teléfono celular</label>
				<input type="text" name="cellphone" id="id_cellphone" class="form-control">
			</div>
			<div class="form-group">
				<label for="id_first_name">Nombre de contacto</label>
				<input type="text" name="first_name" id="id_first_name" class="form-control" required maxlength="50">
			</div>
			<div class="form-group">
				<label for="id_last_name">Apellido de contacto</label>
				<input type="text" name="last_name" id="id_last_name" class="form-control" required maxlength="50">
			</div>
			<div class="form-group">
				<label for="id_email">Email</label>
				<input type="email" name="email" id="id_email" class="form-control" required maxlength="254">
			</div>
			<button type="submit" class="btn btn-secondary">Registrar cliente</button>
		</div>
	</div>
</form>
{% endblock %}