{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}DAWIPO - Home{% endblock %}
{% block content %}
<!-- Título -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Inicio</li>
                </ol>
            </div>
            <h4 class="page-title text-comfortaa">Hola, {{ request.user.first_name }}!</h4>
        </div>
    </div>
</div>
<!-- Gráficos de arriba -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" class="dropdown-item">Reporte de ventas</a>
                        <a href="javascript:void(0);" class="dropdown-item">Exportar reporte</a>
                        <a href="javascript:void(0);" class="dropdown-item">Ganancias</a>
                    </div>
                </div> -->
                <h4 class="header-title mb-3 text-comfortaa">Órdenes confirmadas en el último año</h4>

                <div class="chart-content-bg">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <p class="text-muted mb-1 mt-1">Año en curso</p>
                            <h2 class="font-weight-normal">
                                <small class="mdi mdi-checkbox-blank-circle text-primary align-middle mr-1"></small>
                                <span>${{ total_value|intcomma }}</span>
                            </h2>
                        </div>
                        <div class="col-md-6">
                            <p class="text-muted mb-1 mt-1">Año anterior</p>
                            <h2 class="font-weight-normal">
                                <small class="mdi mdi-checkbox-blank-circle text-warning align-middle mr-1"></small>
                                <span>${{ past_year_value|intcomma }}</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- <div class="dash-item-overlay d-none d-md-block">
                    <h5>Ganancias de hoy: $2,562.30</h5>
                    <p class="text-muted font-13 mb-3 mt-2">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
                    Etiam rhoncus...</p>
                    <a href="javascript: void(0);" class="btn btn-outline-primary">Ver estados de cuenta
                        <i class="mdi mdi-arrow-right ml-2"></i>
                    </a>
                </div> -->
                <div id="revenue-chart" class="apex-charts mt-3" 
                data-colors="#003f5a,#fe6625"></div>
                <script>
                    var e = ["#727cf5", "#0acf97", "#fa5c7c", "#ffbc00"],
                    t = $("#revenue-chart").data("colors");
                    t && (e = t.split(","));
                    var r = {
                        chart: { 
                            height: 364, 
                            type: "line", 
                            dropShadow: { 
                                enabled: !0, 
                                opacity: 0.2, 
                                blur: 7, 
                                left: -7, 
                                top: 7 
                            } 
                        },
                        dataLabels: { 
                            enabled: !1 
                        },
                        stroke: { 
                            curve: "smooth", 
                            width: 4 
                        },
                        series: [
                        { 
                            name: "Año en curso", 
                            data: {{ year_orders|safe }}
                        },
                        { 
                            name: "Año anterior", 
                            data: {{ last_year_orders|safe }}
                        },
                        ],
                        colors: e,
                        zoom: { 
                            enabled: !1 
                        },
                        legend: { 
                            show: !1 
                        },
                        xaxis: { 
                            type: "string", 
                            categories: {{ months_list|safe }}, 
                            tooltip: { 
                                enabled: !1 
                            }, 
                            axisBorder: { 
                                show: !1 
                            } 
                        },
                        yaxis: {
                            labels: {
                                formatter: function (e) {
                                    return e + " orders";
                                },
                                offsetX: -15,
                            },
                        },
                    };
                    new ApexCharts(document.querySelector("#revenue-chart"), r).render();
                </script>
            </div>
        </div>
    </div>
</div>
<!-- <ul class="nav nav-pills justify-content-end my-3">
    <li class="nav-item">
        <form class="form-inline">
            <input type="text" class="form-control date" id="fecha_entrega" data-toggle="date-picker" data-cancel-class="btn-danger" style="width: 13.5em;">
            <button class="btn btn-outline-secondary ml-1">
                <span> Filter </span>
            </button>
        </form>
    </li>
</ul> -->
<!-- Segunda fila -->
<div class="row">
    <div class="col-12">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0);" class="dropdown-item">Reporte de ventas</a>
                            <a href="javascript:void(0);" class="dropdown-item">Exportar reporte</a>
                        </div>
                    </div> -->
                    <h4 class="header-title mb-1 text-comfortaa">
                        Órdenes por cliente
                    </h4>
                    <div class="apex-charts" id="pedidos-por-cliente"></div>
                    <script>
                        colors = ["#043a5c", "#993955", "#007a7b", "#fe6937", "#019162", "#e38919", "#7fb800", "#fdca40"];
                        var options_pedidos = {
                            series: [
                            {% for key, value in status_orders.items %}
                            {
                                name: "{{ key }}",
                                data: {{ value|safe }}
                            }{% if not forloop.last %},{% endif %}
                            {% endfor %}
                            ],
                            colors: colors,
                            chart: {
                                toolbar: {
                                    show: false
                                },
                                type: 'bar',
                                stacked: true,
                                height: 450,
                                width: 450,
                                offsetX: 0
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: true
                                }
                            },
                            stroke: {
                                width: 1,
                                colors: ['#e2e8eb']
                            },
                            dataLabels: {
                                enabled: false
                            },
                            xaxis: {
                                categories: {{ customers_list|safe }}
                            },
                            legend: {
                                position: 'bottom',
                                horizontalAlign: 'center'
                            },
                            responsive: [{
                                breakpoint: 1024,
                                options: {
                                    chart: {
                                        width: 200,
                                        height: 450
                                    },
                                    legend: {
                                        show: false
                                    },
                                    plotOptions: {
                                        bar: {
                                            horizontal: false
                                        }
                                    }
                                }
                            },
                            {
                                breakpoint: 1420,
                                options: {
                                    chart: {
                                        width: 350,
                                        height: 450
                                    },
                                    legend: {
                                        show: false
                                    },
                                    plotOptions: {
                                        bar: {
                                            horizontal: false
                                        }
                                    }
                                }
                            },
                            {
                                breakpoint: 1025,
                                options: {
                                    chart: {
                                        width: 300,
                                        height: 450
                                    },
                                    legend: {
                                        show: false
                                    },
                                    plotOptions: {
                                        bar: {
                                            horizontal: false
                                        }
                                    }
                                }
                            },
                            {
                                breakpoint: 840,
                                options: {
                                    chart: {
                                        width: 200,
                                        height: 450
                                    },
                                    legend: {
                                        show: false
                                    },
                                    plotOptions: {
                                        bar: {
                                            horizontal: false
                                        }
                                    }
                                }
                            }]
                        };
                        new ApexCharts(document.querySelector("#pedidos-por-cliente"), options_pedidos).render();
                    </script>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0);" class="dropdown-item">Reporte de ventas</a>
                            <a href="javascript:void(0);" class="dropdown-item">Exportar reporte</a>
                        </div>
                    </div> -->
                    <h4 class="header-title text-comfortaa">Productos más vendidos</h4>

                    <div id="average-sales" class="apex-charts mb-4 mt-4"
                    data-colors="#003f5a,#fb9334,#007a7a,#fe6625"></div>

                    <script>
                        e = ["#043a5c", "#993955", "#007a7b", "#fe6937", "#019162", "#e38919", "#7fb800", "#fdca40"];
                        r = {
                            chart: { height: 280, type: "donut" },
                            legend: { show: !1 },
                            stroke: { colors: ["#ffffff"] },
                            series: {{ products_dict_values|safe }},
                            labels: {{ products_dict_keys|safe }},
                            colors: e,
                            responsive: [
                            { 
                                breakpoint: 480, 
                                options: { 
                                    chart: {
                                        height: 200
                                    },
                                    plotOptions: {
                                        pie: {
                                            customScale: 1
                                        }
                                    }
                                } 
                            },
                            {
                                breakpoint: 800,
                                options: {
                                    dataLabels: {
                                        enabled: false
                                    }
                                }
                            }
                            ],
                        };
                        new ApexCharts(document.querySelector("#average-sales"), r).render();
                    </script>
                    <div class="chart-widget-list">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                {% for key, value in products_dict.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td class="text-right">
                                        ${{ value|intcomma }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <a href="{url 'orders:db_export_pdf'}" class="btn btn-sm btn-link float-right mb-3 disabled">Exportar PDF
                        <i class="mdi mdi-download ml-1"></i>
                    </a>
                    <h4 class="header-title mt-2 text-comfortaa">Órdenes próximas a entrega</h4>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                                <tr>
                                    <th class="text-center">
                                        <h5 class="text-muted font-14 my-1">ID de Orden</h5>
                                    </th>
                                    <th class="text-center">
                                        <h5 class="text-muted font-14 my-1">Cliente</h5>
                                    </th>
                                    <th class="text-center">
                                        <h5 class="text-muted font-14 my-1">Precio total</h5>
                                    </th>
                                    <th class="text-center">
                                        <h5 class="text-muted font-14 my-1">Fecha de entrega</h5>
                                    </th>
                                    <th class="text-center">
                                        <h5 class="text-muted font-14 my-1">Estado</h5>
                                    </th>
                                </tr>
                                {% for order in closest_orders %}
                                <tr>
                                    <td class="text-center">
                                        <h5 class="font-14 my-1 font-weight-normal">{{ order.id }}</h5>
                                    </td>
                                    <td class="text-center">
                                        <h5 class="font-14 my-1 font-weight-normal">{{ order.customer.name }}</h5>
                                    </td>
                                    <td class="text-right">
                                        <h5 class="font-14 my-1 font-weight-normal">${{ order.get_total_cost|intcomma }}</h5>
                                    </td>
                                    <td class="text-center">
                                        <h5 class="font-14 my-1 font-weight-normal">{{ order.due_date }}</h5>
                                    </td>
                                    <td class="text-center">
                                        <h4 class="my-1 font-weight-normal">
                                            {% if order.status == 'delivered' %}
                                            <div class="badge badge-success">{{ order.get_status_display }}</div>
                                            {% elif order.status == 'canceled' %}
                                            <div class="badge badge-danger">{{ order.get_status_display }}</div>
                                            {% elif order.status == 'pre-order' %}
                                            <div class="badge badge-primary">{{ order.get_status_display }}</div>
                                            {% elif order.status == 'confirmed' %}
                                            <div class="badge badge-secondary">{{ order.get_status_display }}</div>
                                            {% else %}
                                            <div class="badge badge-info">{{ order.get_status_display }}</div>
                                            {% endif %}
                                        </h4>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-12">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0);" class="dropdown-item">Reporte de ventas</a>
                            <a href="javascript:void(0);" class="dropdown-item">Exportar reporte</a>
                        </div>
                    </div> -->
                    <h4 class="header-title text-comfortaa">Órdenes por estado</h4>
                    <div class="apex-charts mt-4" id="pedidos_estado"></div>
                    <script>
                        colors = ["#043a5c", "#993955", "#007a7b", "#fe6937", "#019162", "#e38919", "#7fb800", "#fdca40"];
                        var options_estados = {
                            series: {{ status_orders_values|safe }},
                            labels: {{ status_orders_labels|safe }},
                            chart: {
                                type: 'polarArea',
                                toolbar: {
                                    show: false
                                },
                                height: 480,
                                width: 400,
                                offsetX: 0
                            },
                            colors: colors,
                            stroke: {
                                colors: ['#fff']
                            },
                            fill: {
                                opacity: 1
                            },
                            legend: {
                                show: true,
                                position: 'bottom'
                            },
                            yaxis: {
                                show: false
                            },
                            plotOptions: {
                                polarArea: {
                                    rings: {
                                        strokeWidth: 0,
                                    }
                                }
                            },
                            responsive: [
                                {
                                    breakpoint: 800,
                                    options: {
                                        chart: {
                                            height: 220,
                                            width: 220
                                        },
                                        legend: {
                                            show: false
                                        }
                                    }
                                },
                                {
                                    breakpoint: 1113,
                                    options: {
                                        chart: {
                                            height: 300,
                                            width: 300
                                        },
                                        legend: {
                                            show: false
                                        }
                                    }
                                }
                            ]
                        };
                        new ApexCharts(document.querySelector("#pedidos_estado"), options_estados).render();
                    </script>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0);" class="dropdown-item">Reporte de Ventas</a>
                            <a href="javascript:void(0);" class="dropdown-item">Exportar Reporte</a>
                        </div>
                    </div> -->
                    <h4 class="header-title text-comfortaa">Indicadores del mes</h4>
                    <div class="col-12 align-items-center py-3">
                        <h3 class="text-center"><span class="text-success text-comfortaa">Unidades confirmadas: </span></h3>
                        <br>
                        <h1 class="text-center display-3 text-comfortaa">{{ confirmed_units }}</h1>
                    </div>
                    <hr>
                    <div class="col-12 py-3 px-5">
                        <h3 class="text-center"><span class="text-danger text-comfortaa">Unidades despachadas: </span>
                        </h3>
                        <br>
                        <h1 class="text-center display-3 text-comfortaa">{{ dispatched_units }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}