{% extends 'base.html' %}
{% load static %}
{% block title %}DAWIPO - Add product{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'catalog:product_list' %}">Catalog</a></li>
					<li class="breadcrumb-item active">Add product</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Add new product
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="col-sm-12 col-lg-6 float-left">
				<div class="form-group">
					<label for="id_category">Category</label>
					<select class="select2 form-control" data-toggle="select2" style="width: 14em;" id="id_category" name="category">
						<option>Select a category...</option>
						<optgroup label="Category">
							{% for category in categories %}
							<option value="{{ category.name }}">{{ category.name }}</option>
							{% endfor %}
						</optgroup>
					</select>
				</div>
				<div class="form-group">
					<label for="id_name">Product name</label>
					<input type="text" name="name" maxlength="200" id="id_name" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_sku">SKU</label>
					<input type="text" name="sku" maxlength="20" id="id_sku" class="form-control">
				</div>
				<div class="form-group">
					<label>Product image</label>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="id_image" accept="image/*" name="image">
						<label class="custom-file-label" for="id_image" data-browse="Buscar...">Seleccionar imagen</label>
					</div>
				</div>
				<div class="form-group">
					<label for="id_retail_price">Retail price</label>
					<input type="text" name="retail_price" id="id_retail_price" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_whole_sale_price">Whole sale price</label>
					<input type="text" name="whole_sale_price" id="id_whole_sale_price" class="form-control">
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 float-left">
				<div class="form-group">
					<label for="id_color">Color</label>
					<input type="color" name="color" id="id_color" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_description">Product description</label>
					<textarea name="description" id="id_description" cols="30" rows="7" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="id_measures">Product measures</label>
					<textarea name="measures" id="id_measures" cols="30" rows="7" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="id_available" name="available">
						<label class="custom-control-label" for="id_available">Available</label>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary"><i class="uil-save"></i> Save changes</button>
		</form>
	</div>
</div>
{% endblock %}