{% extends 'base.html' %}
{% load static %}
{% block title %}DAWIPO - Add product{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
					<li class="breadcrumb-item"><a href="{% url 'catalog:product_list' %}">Catálogo</a></li>
					<li class="breadcrumb-item active">Agregar producto</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Agregar producto
			</h4>
			<p>Los campos obligatorios están marcados con un asterisco (<span class="text-danger">*</span>)</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		{% if form.errors %}
		{% for field in form %}
		{% for error in field.errors %}
		<div class="alert alert-danger">
			<strong>{{ field.name }}: {{ error|escape }}</strong>
		</div>
		{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
		<div class="alert alert-danger">
			<strong>{{ error|escape }}</strong>
		</div>
		{% endfor %}
		{% endif %}
		<form method="post" enctype="multipart/form-data" novalidate class="needs-validation">
			{% csrf_token %}
			<div class="col-sm-12 col-lg-6 float-left">
				<div class="form-group">
					<label for="id_category">Categoría <span class="text-danger">*</span></label>
					<select class="select2 form-control" data-toggle="select2" style="width: 14em;" id="id_category" name="category" required>
						<option>Selecciona una categoría...</option>
						<optgroup label="Category">
							{% for category in categories %}
							<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}
						</optgroup>
					</select>
					<div class="invalid-feedback">
						Este campo es obligatorio.
					</div>
				</div>
				<div class="form-group">
					<label for="id_name">Nombre de producto <span class="text-danger">*</span></label>
					<input type="text" name="name" maxlength="200" id="id_name" class="form-control" required>
					<div class="invalid-feedback">
						Este campo es obligatorio.
					</div>
				</div>
				<div class="form-group">
					<label for="id_sku">SKU <span class="text-danger">*</span></label>
					<input type="text" name="sku" maxlength="20" id="id_sku" class="form-control" required>
					<div class="invalid-feedback">
						Este campo es obligatorio.
					</div>
				</div>
				<div class="form-group">
					<label for="id_barcode">Código de barras</label>
					<input type="text" name="barcode" maxlength="20" id="id_barcode" class="form-control">
				</div>
				<div class="form-group">
					<label>Imagen del producto </label>
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="id_image" accept="image/*" name="image" required>
						<label class="custom-file-label" for="id_image" data-browse="Buscar...">Seleccionar imagen</label>
						<small>Tamaño máximo: 1 MB. Dimensiones sugeridas: 640x480</small>
					</div>
					<script>
						document.querySelector('.custom-file-input').addEventListener('change',function(e){
							var fileName = document.getElementById("id_image").files[0].name;
							var nextSibling = e.target.nextElementSibling
							nextSibling.innerText = fileName
						})
					</script>
				</div>
				<div class="form-group">
					<label for="id_price_1">Precio retail ({{ request.user.profile.company.currency }}) <span class="text-danger">*</span></label>
					<input type="text" name="price_1" id="id_price_1" class="form-control">
					<div class="invalid-feedback">
						Este campo es obligatorio.
					</div>
				</div>
				<div class="form-group">
					<label for="id_price_2">Precio mayorista ({{ request.user.profile.company.currency }})</label>
					<input type="text" name="price_2" id="id_price_2" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_price_3">Otro precio ({{ request.user.profile.company.currency }}) (Opcional)</label>
					<input type="text" name="price_3" id="id_price_3" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_tax">Impuesto (%)</label>
					<input type="text" name="tax" id="id_tax" class="form-control">
				</div>
			</div>
			<div class="col-sm-12 col-lg-6 float-left">
				<div class="form-group">
					<label for="id_brand">Marca</label>
					<input type="text" name="brand" maxlength="20" id="id_brand" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_provider">Proveedor</label>
					<input type="text" name="provider" maxlength="20" id="id_provider" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_color">Color</label>
					<input type="text" name="color" id="id_color" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_description">Descripción del producto</label>
					<textarea name="description" id="id_description" cols="30" rows="5" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="id_observations">Observaciones</label>
					<textarea name="observations" id="id_observations" cols="30" rows="5" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="id_measures">Medidas</label>
					<input type="text" name="measures" id="id_measures" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Costo del producto</label>
					<input type="text" name="fabrication_cost" id="id_fabrication_cost" class="form-control">
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="id_available" name="available">
						<label class="custom-control-label" for="id_available">Disponibilidad</label>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary"><i class="uil-save"></i> Guardar item</button>
		</form>
	</div>
</div>
{% endblock %}