{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}DAWIPO - {{ product.name }}{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
					<li class="breadcrumb-item">Catálogo</li>
					<li class="breadcrumb-item">{{ product.category.name }}</li>
					<li class="breadcrumb-item active">{{ product.name }}</li>
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				{{ product.name }}
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-lg-4">
		<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="" class="img-fluid img-thumbnail">
	</div>
	<div class="col-sm-12 col-lg-8">
		<h2 class="text-comfortaa">{{ product.name }}</h2>
		<hr>
		<h5>
			<a href="{{ product.category.get_absolute_url }}" class="text-primary">{{ product.category.name }}</a>
		</h5>
		<div class="col-sm-12 float-left text-center">
			<h4><span class="text-secondary">Precio retail: </span>{{ request.user.profile.company.currency }}${{ product.price_1|intcomma }}</h4>
		</div>
		<div class="col-sm-12 float-left text-center">
			<h4><span class="text-secondary">Precio mayorista: </span>{% if product.price_2 %}{{ request.user.profile.company.currency }}${{ product.price_2|intcomma }}{% else %}No tiene{% endif %}</h4>
		</div>
		<div class="col-sm-12 float-left text-center">
			<h4><span class="text-secondary">Otro precio: </span>{% if product.price_3 %}{{ request.user.profile.company.currency }}${{ product.price_3|intcomma }}{% else %}No tiene{% endif %}</h4>
		</div>
		{% if product.available %}
		<h5>Disponible: <span class="text-success">Sí</span></h5>
		{% else %}
		<h5>Disponible: <span class="text-danger">No</span></h5>
		{% endif %}
		{% if product.sku %}
		<h4 class="text-primary">SKU:</h4>
		<p>{{ product.sku }}</p>
		{% endif %}
		{% if product.barcode %}
		<h4 class="text-primary">Códico de barras:</h4>
		<p>{{ product.barcode }}</p>
		{% endif %}
		<h4 class="text-primary">Descripción:</h4>
		<p><span class="text-secondary">Color: </span>{% if product.color %}{{ product.color }}{% else %}No tiene{% endif%}</p>
		<p><span class="text-secondary">Medidas: </span>{% if product.measures %}{{ product.measures }}{% else %}No tiene{% endif%}</p>
		<p><span class="text-secondary">Impuesto: </span>{% if product.tax %}{{ product.tax }}%{% else %}No tiene{% endif%}</p>
		<p><span class="text-secondary">Costo de fabricación: </span>{% if product.fabrication_cost %}{{ product.fabrication_cost }}{% else %}N/A{% endif%}</p>
		<p>{{ product.description|linebreaks }}</p>
		<h4 class="text-primary">Observaciones:</h4>
		{{ product.observations|linebreaks }}
		<a href="{% url 'catalog:product_edit' product.id product.slug %}" class="btn btn-primary mr-2">Editar item</a>
	</div>
</div>
{% endblock %}
