{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}DAWIPO - Catálogo{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Inicio</a></li>
					<li class="breadcrumb-item active">Catálogo</li>
					{% if category %}
					<li class="breadcrumb-item active">{{ category.name }}</li>
					{% endif %}
				</ol>
			</div>
			<h4 class="page-title text-comfortaa">
				Productos - {% if category %}{{ category.name }}{% else %}All categories{% endif %}
			</h4>
		</div>
	</div>
</div>
<div class="row">
	<ul class="nav ml-2 mb-2">
		<li class="nav-item mr-2">
			<a href="{% url 'catalog:add_product' %}" class="btn btn-primary btn-sm">
				<i class="uil-plus-circle"></i>
				Agregar producto
			</a>
		</li>
		<li class="nav-item mr-2">
			<a href="{% url 'catalog:add_category' %}" class="btn btn-warning btn-sm">
				<i class="uil-plus-circle"></i>
				Agregar categoría
			</a>
		</li>
		<li class="nav-item mr-2">
			<a href="{% if category %}{{ category.get_absolute_url }}{% else %}{% url 'catalog:product_list' %}{% endif %}" class="btn btn-secondary btn-sm">
				<i class="uil-table"></i>
				Ver como catálogo
			</a>
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-sm-12 col-lg-12">
		<div class="table-responsive">
			<table class="table table-hover table-nowrap">
				<thead>
					<th scope="col">Nombre de producto</th>
					<th scope="col">Categoría</th>
					<th scope="col">Marca</th>
					<th scope="col">Precio Retail</th>
					<th scope="col">Precio Mayorista</th>
					<th scope="col"></th>
				</thead>
				<tbody>
					{% for product in page_obj %}
					<tr>	
						<td>{{ product.name }}</td>
						<td>{{ product.category.name }}</td>
						<td>{% if product.brand %}{{ product.brand }}{% else %}No tiene{% endif %}</td>
						<td class="text-right">{{ request.user.profile.company.currency }}${{ product.price_1|intcomma }}</td>
						<td class="text-right">{% if product.price_2 %}{{ request.user.profile.company.currency }}${{ product.price_2|intcomma }}{% else %}No tiene{% endif %}</td>
						<td class="text-primary"><a href="{{ product.get_absolute_url }}"><i class="uil-search"></i> Detalle</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation">
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1">
					<i class="uil-angle-double-left"></i>
				</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
					<i class="uil-angle-left"></i>
				</a></li>
				{% endif %}
				<li class="page-item active">
					<a href="#" class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
				</li>
				{% if page_obj.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
					<i class="uil-angle-right"></i>
				</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
					<i class="uil-angle-double-right"></i>
				</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
{% endblock %}